<!DOCTYPE html>

<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Blog Template for Bootstrap</title>

    {{!-- Personnal CSS --}}
    <link href="hbs/css/blog.css" rel="stylesheet">
    <link href="hbs/css/style.css" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="hbs/blog/bootstrap.min.css" rel="stylesheet">
</head>

<body>

    {{> header}}
    <main role="main">
        {{#each blogs}}
        <div class="blog-post">
            <h2 class="blog-post-title">{{title}}</h2>
            <p class="blog-post-meta">
                {{date}} by {{{author}}}
            </p>
            {{{text}}}
        </div>
        {{/each}}
    </main>

    {{> footer}}

    <script src="./hbs/js/jquery-3.3.1.slim.min.js"></script>
    <script src="./hbs/js/popper.min.js"></script>
    <script src="./hbs/js/bootstrap.min.js"></script>
    <script src="./hbs/js/holder.min.js"></script>

</body>

</html>